1+1

In [2]:
print('Hello worl!')

Hello worl!

In [8]:
5//2

2

In [10]:
10//3

3

In [11]:
1+2j

(1+2j)

In [12]:
type(1+2j)

complex

In [14]:
1j**2

(-1+0j)

In [15]:
2*2

4

In [16]:
3**3

27

In [17]:
a = True
b = False

In [20]:
a | b

True

In [21]:
a = 1
b = 1

In [22]:
a == b

True

In [23]:
a != b

False

In [24]:
c = a

In [25]:
c is a

True

In [26]:
id(c)

4461508224

In [27]:
id(a)

4461508224

In [28]:
a = "My name is truong"

In [29]:
type(a)

str

In [32]:
a = 1

In [33]:
type(a)

int

In [ ]:
list_1 = []

In [36]:
set_1 = set([1, 2])

In [37]:
set_1

{1, 2}

In [35]:
type(set_1)

dict

tuple_1 = ()

In [38]:
dict_1 = {"name": 'Truong'}
dict_1

{'name': 'Truong'}

In [39]:
list_1 = [1, 2, 3, 4]
list_1

[1, 2, 3, 4]

In [40]:
list_2 = [1, 2, 'Truong', 'Mr.Dong']

In [41]:
list_2

[1, 2, 'Truong', 'Mr.Dong']

In [42]:
list_3 = [1, 2, 'Truong', [3, 4]]

In [43]:
list_3

[1, 2, 'Truong', [3, 4]]

In [45]:
list_3[2] = 'Dong'

In [46]:
list_3

[1, 2, 'Dong', [3, 4]]

In [47]:
del list_3[0]

In [48]:
list_3

[2, 'Dong', [3, 4]]

In [49]:
list_3.pop(1)

'Dong'

In [51]:
list_3.pop(-1)

[3, 4]

In [52]:
list_3

[2]

In [53]:
a = [1, 2, 3, 4, 5]

In [55]:
a.append('Truong')

In [56]:
a.append([7, 8])

In [57]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8]]

In [58]:
list_1

[1, 2, 3, 4]

In [59]:
a + list_1

[1, 2, 3, 4, 5, 'Truong', [7, 8], 1, 2, 3, 4]

In [60]:
a.append(list_1)

In [61]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8], [1, 2, 3, 4]]

In [62]:
a.extend(list_1)

In [63]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8], [1, 2, 3, 4], 1, 2, 3, 4]

tuple immutable

In [64]:
tup_1 = (1, 2, 3, 4)

In [65]:
tup_1

(1, 2, 3, 4)

In [66]:
tup_1[0]

1

In [67]:
a, b, c, d = tup_1[0], tup_1[1], tup_1[2], tup_1[3]

In [68]:
a

1

In [69]:
d

4

In [71]:
list_1

[1, 2, 3, 4]

In [72]:
list_1[1]= 'Truong'
list_1

[1, 'Truong', 3, 4]

In [73]:
tup_1

(1, 2, 3, 4)

In [74]:
tup_1[1] = 'Truong'

TypeError: 'tuple' object does not support item assignment

In [75]:
del tup_1[1]

TypeError: 'tuple' object doesn't support item deletion

In [76]:
li = list(tup_1)

In [78]:
li = [1, 1, 2, 2]
li

[1, 1, 2, 2]

In [90]:
set_1 = set((1, 2, 3, 4))
set_1

{1, 2, 3, 4}

In [92]:
set_2 = set((4, 3, 5, 6))

In [93]:
set_1.intersection(set_2)

{3, 4}

In [94]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6}

In [95]:
dir(set_1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [96]:
dict_1 = {'name': 'Truong', 'age': 30}

In [98]:
dict_1

{'name': 'Truong', 'age': 30}

In [100]:
dict_1['name'] = 'Nam'

In [103]:
dict_1

{'name': 'Nam', 'age': 30}

In [105]:
dict_1['toi']

KeyError: 'toi'

In [109]:
dict_1.get('toi', 'Truong')

'Truong'

In [111]:
dict_1['uni'] = 'BK'

In [112]:
dict_1

{'name': 'Nam', 'age': 30, 'uni': 'BK'}

In [113]:
dir(dict_1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [122]:
a = range(1, 10)
even_li, odd_li = [], []

for i in a:
    if i == 5:
        continue
    if i%2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)

In [120]:
even_li

[2, 4, 6]

In [123]:
odd_li

[1, 3, 7, 9]

In [116]:
break 
continue

[1, 3, 5, 7, 9]